@import '../sass/colors'

.navbar
  position: sticky
  top: 0

  &--container
    position: relative
    background-color: change-color(map-get($elementsColors, white), $alpha: .99)
    
    &:before
      content: ''
      width: 100%
      height: 1px
      z-index: -1
      position: absolute
      bottom: 0
      filter: blur(5px)
      transform: scaleX(.98)

      background-color: rgba(0, 0, 0, .25)

  &--navigation-link
    padding: 1rem 1.5rem
    font-weight: 300
    font-size: .9rem
    color: map-get($textColors, lightGrey)

    .feather
      color: map-get($elementsColors, grey)
      width: 1.4rem
      height: 1.4rem
      stroke-width: 1.5
      margin-right: .4rem

      path[style], polyline[style], circle[style], line[style]
        stroke-dasharray: calc(var(--path-length) + 1)
        stroke-dashoffset: calc(var(--path-length) + 1)
        color: map-get($elementsColors, yellow)

      &.feather-home
        path[style]
          stroke-dashoffset: calc(var(--path-length) * -1 - 1)

      &.feather-camera
        path[style]
          stroke-dashoffset: calc(var(--path-length) * -1 - 1)

      &.feather-mail
        path[style], polyline[style]
          stroke-dashoffset: calc(var(--path-length) * -1 - 1)
    
    &:focus
      animation: scaleDown .2s ease-in forwards

    &.active
      --color: #{map-get($textColors, black)}

      animation: changeColor .5s ease-in forwards

      .feather-home
        path[style]
          animation: dash .5s ease-in forwards

        polyline[style]
          animation: dash .2s ease-in .16s forwards
        
      .feather-camera
        path[style]
          animation: dash .45s ease-in forwards
      
        circle[style]
          animation: dash .22s ease-in .4s forwards

      .feather-mail
        path[style]
          animation: dash .45s ease-in forwards

        polyline[style]
          animation: dash .19s ease-in .4s forwards

@keyframes scaleDown
  50%
    transform: scale(.9)

  100%
    transform: scale(1)

@keyframes changeColor
  to
    color: var(--color)

@keyframes dash
  to
    stroke-dashoffset: 0
