@import '../sass/colors'

.about
  min-height: calc(100vh - var(--top-offset))
  margin-bottom: 8rem

  @media (max-width: 960px)
    margin-bottom: 3rem

  &--container
    margin-bottom: 1rem

  &--heading, &--description
    width: 100%
    max-width: 800px

  &--heading
    font-size: 2.1rem
    font-weight: 700
    margin-bottom: 1rem

    @media (max-width: 960px)
      font-size: 1.8rem

    img
      height: 2.1rem
      vertical-align: middle

      @media (max-width: 960px)
        height: 1.8rem

  &--description
    p
      color: map-get($textColors, grey)

      @media (max-width: 960px)
        font-size: .9rem

      &:not(:last-child)
        margin-bottom: .3rem

  &--arrow
    &-link
      cursor: pointer
      margin-bottom: .5rem

      .feather
        pointer-events: none
        width: 1.4rem
        height: 1.4rem
        stroke-width: 1.5
        margin-bottom: 1.5rem
        animation: moveDown .8s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate, chevronColor .8s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate

@keyframes moveDown
  from
    transform: translateY(0)

  to
    transform: translateY(1.5rem)

@keyframes chevronColor
  to
    color: map-get($elementsColors, yellow)
