@import '../sass/colors'

.projects
  margin-bottom: 8rem
  
  @media (max-width: 960px)
    margin-bottom: 5rem

  &--heading
    font-size: 1.8rem
    margin-bottom: 3rem

    @media (max-width: 960px)
      margin-bottom: calc(1.5rem + 250px)

  &--project
    align-items: stretch
    width: calc(100% - 250px)
    padding: 1rem
    background-color: map-get($elementsColors, white)
    border-radius: .25rem
    box-shadow: 0 3px 10px rgba(0, 0, 0, .05)
    margin-left: 0

    @media (max-width: 960px)
      width: 100%

    &:not(:last-child)
      margin-bottom: 3rem

    &-text
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      padding-right: 1rem

    &-heading
      font-size: 1.2rem
      margin-bottom: .5rem

    &-subheading
      font-size: .9rem
      font-weight: 300
      color: map-get($textColors, darkGrey)
      position: relative
      margin-left: .5rem
      margin-bottom: 1.5rem

      &::before
        content: '—'
        font-weight: 200
        color: map-get($textColors, lightGrey)
        margin-left: -.5rem


    &-description
      margin-bottom: 1.5rem

      p
        font-size: .9rem
        color: map-get($textColors, grey)

        &:not(:last-child)
          margin-bottom: .3rem

    &-links, &-link
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: flex-start

    &-links
      margin-top: auto
      align-items: stretch

    &-link
      align-items: center
      padding: .4rem
      color: map-get($elementsColors, darkGrey)
      background-color: map-get($elementsColors, lightGrey)
      border-radius: .25rem
      margin-right: .4rem

      svg
        vertical-align: middle

    &-cover
      min-width: 500px
      max-width: 500px
      margin-right: calc(-250px - .9rem)
      font-size: 0
      box-shadow: 0 0 0 2px map-get($elementsColors, yellow), 0 3px 10px 2px change-color(map-get($elementsColors, yellow), $alpha: .1)
      border-radius: .25rem

      @media (max-width: 960px)
        min-width: 100%
        max-width: 100%
        margin: calc(-250px - .5rem) auto 1.5rem auto

      &-image
        border-radius: .25rem
