.footer
  font-size: .9rem
  margin-bottom: 5rem

  &--logo
    @media (max-width: 960px)
      margin-bottom: 1.5rem

    &-image
      width: 3rem
      height: 3rem

  &--social:not(:last-child)
    margin-right: 2rem
