@import 'sass/generic'
@import 'sass/helpers'
@import 'sass/colors'

body
  color: map-get($textColors, lightGrey)

a
  color: map-get($textColors, black)

h1
  color: map-get($textColors, black)

h2
  color: map-get($textColors, darkGrey)
